<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="style.css">
    <title>BoolFlix</title>
</head>
<body>
        <!-- FIXARE BUG IN CASO DI RICERCA "ASD" -->

    <div id="app">
        
        <!-- NAVBAR -->
        <nav class="display-flex">
            
            <h1>BoolFlix</h1>

            <div class="user-interactables display-flex">
                <input type="text" v-model="contentResearch" @keyup.enter="onUserSearch()">
                <button @click="onUserSearch()">CERCA</button>
            </div>
        </nav>

        <div id="palinsesto">
            <h1 class="marg-lft-top-btm-20">Film e serie tv {{this.onLoad}}</h1>
            <h2 v-if="researchFailed" class="marg-lft-top-btm-20">La ricerca non è andata a buon fine. Ritenta!</h2>

            <!-- FILM FILTRATI-->
            <ul class="display-flex">
                <li v-for="media in movieList" class="bg-dkgrey" @mouseover="getCast(media)">

                    <!-- Copertina se presente poster-->
                    <div class="poster-container" v-if="media.poster_path!==null">
                        <img :src="'https://image.tmdb.org/t/p/' +'w342'+media.poster_path" alt="" class="poster">
                    </div>

                    <!-- Copertina se assente poster -->
                    <div class="poster-container poster-null display-flex" v-if="media.poster_path==null">
                        <h2>"{{media.title}}"</h2>
                        <h2>Copertina non disponibile</h2>
                    </div>

                    <!-- informazioni disponibili on hover -->
                    <div class="media-info">
                        <!-- titolo -->
                        <p><strong>Titolo: </strong>"{{media.title}}"</p>
                        <!-- titolo originale -->
                        <p v-if="media.original_title!==media.title"><strong>Originale: </strong> "{{media.original_title}}"</p>
                        <!-- lingua originale -->
                        <p class="language"><strong>Lingua Originale: {{media.original_language.toUpperCase()}}</strong> 
                            <span v-if="getFlag(media.original_language)">
                                <img class="flag" :src="'img/'+getFlag(media.original_language)" alt="">
                            </span>
                            <span v-else="">
                                <img class="flag" src="img/Flag_of_the_United_Nations.svg" alt="">
                            </span>
                        </p>
                        <!-- Voto utenti -->
                        <p>
                            <strong>User Rating: </strong> 
                            <i v-for="star in voteInStars(media)" class="fa fa-star" :class="{'full-star': star, 'empty-star': !star}"></i>
                            ({{media.vote_average}}/10)
                        </p>
                        <!-- cast -->
                        <p><strong v-if="media.castMembers!=0">Cast: </strong>
                            <span v-for="(actor, index) in media.castMembers" v-if="index < 5">{{actor.original_name}}; </span>
                        </p>
                        <!-- Estratto della trama -->
                        <p v-if="media.overview"><strong>Overview: </strong>{{media.overview}}</p>
                    </div>
                </li>
                
                <!-- SERIE TV FILTRATE -->
                <li v-for="media in tvSeriesList" class="bg-dkgrey">

                    <!-- Copertina se presente poster-->
                    <div class="poster-container" v-if="media.poster_path!==null">
                        <img :src="'https://image.tmdb.org/t/p/' +'w342'+media.poster_path" alt="" class="poster">
                    </div>

                    <!-- Copertina se assente poster -->
                    <div class="poster-container poster-null display-flex" v-if="media.poster_path==null">
                        <h2>"{{media.name}}"</h2>
                        <h2>Copertina non disponibile</h2>
                    </div>

                    <!-- informazioni disponibili on hover -->
                <div class="media-info" @mouseover="getCast(media)">
                        <!-- Titolo -->
                        <p><strong>Titolo: </strong>"{{media.name}}"</p>
                        <!-- Titolo originale -->
                        <p v-if="media.original_name!==media.name">Titolo Originale: "{{media.original_name}}"</p>
                        <!-- Lingua originale -->
                        <p class="language">Lingua Originale: <strong>{{media.original_language.toUpperCase()}}</strong>
                            <span v-if="getFlag(media.original_language)">
                                <img class="flag" :src="'img/'+getFlag(media.original_language)" alt="">
                            </span>
                            <span v-else="">
                                <img class="flag" src="img/Flag_of_the_United_Nations.svg" alt="">
                            </span>
                        </p>
                        <!-- Voto utenti -->
                        <p> 
                            <strong>User Rating: </strong>
                            <i v-for="star in voteInStars(media)" class="fa fa-star" :class="{'full-star': star, 'empty-star': !star}"></i>
                            ({{media.vote_average}}/10)
                        </p>
                        <!-- cast -->
                        <p><strong v-if="media.castMembers!=0">Cast: </strong>
                            <span v-for="(actor, index) in media.castMembers" v-if="index < 5">{{actor.original_name}}; </span>
                        </p>
                        <!-- Estratto della trama -->
                        <p v-if="media.overview"><strong>Overview: </strong> {{media.overview}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>