<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
  
    <link rel="stylesheet" href="style.css">
    <title>BoolFlix</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="contentResearch">
        <button @click="onUserSearch()">Filtra i tuoi film e serie TV preferiti!</button>

        <div id="palinsesto">
            <ol>
                <li v-for="movie in movieList" class="bg-blue">
                    <div class="poster-container" v-if="movie.poster_path!==null">
                        <img :src="'https://image.tmdb.org/t/p/' +'w342'+movie.poster_path" alt="" class="poster">
                    </div>

                    <!-- aggiungere v-else nel caso element.poster_path==null -->

                    <p>"{{movie.title}}"</p>
                    <p v-if="movie.original_title!==movie.title">Titolo Originale: "{{movie.original_title}}"</p>
                    <p>Lingua Originale:{{movie.original_language}}
                        <span v-if="getFlag(movie.original_language)">
                            <img :src="'img/'+getFlag(movie.original_language)" alt="">
                        </span>
                        <span v-else="">
                            <img src="img/Flag_of_the_United_Nations.svg" alt="">
                        </span>
                    </p>
                    <p>{{movie.vote_average}}</p>
                </li>
    
                <li v-for="tvSerie in tvSeriesList" class="bg-grey">
                    <div class="poster-container" v-if="tvSerie.poster_path!==null">
                        <img :src="'https://image.tmdb.org/t/p/' +'w342'+tvSerie.poster_path" alt="" class="poster">
                    </div>

                    <!-- aggiungere v-else nel caso element.poster_path==null -->

                    <p>"{{tvSerie.name}}"</p>
                    <p v-if="tvSerie.original_name!==tvSerie.name">Titolo Originale: "{{tvSerie.original_name}}"</p>
                    <p>Lingua Originale:{{tvSerie.original_language}}
                        <span v-if="getFlag(tvSerie.original_language)">
                            <img :src="'img/'+getFlag(tvSerie.original_language)" alt="">
                        </span>
                        <span v-else="">
                            <img src="img/Flag_of_the_United_Nations.svg" alt="">
                        </span>
                    </p>
                    <p>{{tvSerie.vote_average}}</p>
                </li>
            </ol>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>